.app-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

button:hover {
    cursor: pointer;

    
}
.logo {
  max-height: 20vh;
  max-width: 50%;
  margin-top: 10vh;
  margin-bottom: 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.header-container button {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 530;
  width: 40px;
}
.left-header-container {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}
.right-header-container {
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}

/* .left-div {
    width: 20px;
    height: 20px;
    background-color: #d21d1d;
}

.right-div {
    width: 20px;
    background-color: #d21d1d;
} */


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-input-container {
  background-color: rgba(46, 45, 43, 0);
  width: 40vw;
  height: 40px;
  min-width: 200px;
  max-width: 436px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  border-radius: 1.5rem;
  border: 1px solid rgba(46, 45, 43, 0.694);
  padding-left: 10px;
  padding-right: 10px;
}

.main input {
  border: none;
  
}

.main-input-container button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.main-buttons-container {
    display: flex;
    align-items: center;
    gap: 5px;
}